<div class = intro>
    <h1>Добро пожаловать на GetId!</h1>
    <h3>Здесь вы можете:</h3>
    <ul>
        <li>Получить список людей, оставивших комментарий под постом</li>
        <li>Сформировать список людей по темам: "Новый год", "8 марта"...</li>
        <li>Хранить свормированные списки</li>
    </ul>
    <h3>Приятного пользования!</h3>
</div>