<div class = intro>
    <h1>Для того, чтобы получить токен сообщества, необходимо выполнить следующие шаги</h1>
    <ul>
        <li>Открыть раздел «Управление сообществом» («Управление страницей», если у Вас публичная страница)</li>
        <li>Выбрать вкладку «Работа с API»</li>
        <li>Нажать «Создать ключ доступа»</li>
    </ul>

    <a class = "nav__link" href = "/auth/login">Назад</a>
</div>
